
html {
    overflow: auto;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

h1 {
    display: inline;
    position: absolute;
    font-family: 'Merienda One', cursive;
    color: rgba(01, 01, 01, 0.8);
    font-size: 4vw;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Merienda One', cursive;
    color: rgba(255, 250, 0);
}

h1:after {
    content: position: absolute;
    left: 10px;
    top: 5px;
    color: rgba(20, 199, 130, 0.8);
}

h3 {
    display: inline;
    position: relative;
    font-family: Philosopher, Sans-Serif;
    color: rgba(250, 251, 252, 0.5);
    font-size: 3vw;
    letter-spacing: 1px;
}

.top-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 auto;
}

.flex-container>div {
    background-color: #fad13c width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container {
    text-align: center;
    margin-top: 30px;
    margin-left: 110px;
    display: flex;
    width: 85%;
    text-align: center;
    justify-content: center;
    height: 180px;
}

.container_div {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 110px;
}

.flex-container-footer {
    margin: 2px text-align: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 400px;
}

.flex-container-footer>div {
    width: 800px;
    margin: 10px;
}

.flex-container-player {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    align-items: baseline;
}

.flex-container-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margins: 50px;
    align-content: space-between;
}

.flex-container-ot {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
}

.overlay {
    position: absolute;
    margin: 0 auto;
    z-index: 2;
}

.overlay-xray {
    position: absolute;
    margin: 0 auto;
    z-index: 7;
    opacity: .7;
}

.overlay-player {
    position: absolute;
    margin: 0 auto;
    z-index: 7;
    opacity: .7;
}

.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);
    background-color: #599bb3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 19px;
    font-weight: bold;
    padding: 12px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0);
    background-color: #408c99;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#myBtn {
    width: 200px;
    position: relative;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgb(36, 36, 36);
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: rgb(63, 63, 63);
    color: rgb(90, 182, 153);
}

#myBtn2 {
    width: 200px;
    position: relative;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgb(36, 36, 36);
    color: #fff;
    cursor: pointer;
}

#myBtn2:hover {
    background: #ddd;
    color: black;
}

* {
    user-select: none;
}

html,
body {
    overflow: auto;
    background-color:rgb(36, 36, 36)
   
}

canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

.dg {
    opacity: 0.9;
}

.dg .property-name {
    overflow: visible;
}

.bigFont {
    font-size: 150%;
    color: #8C8C8C;
}

.cr.function.appBigFont {
    font-size: 150%;
    line-height: 27px;
    color: #A5F8D3;
    background-color: #023C40;
}

.cr.function.appBigFont .property-name {
    float: none;
}

.icon {
    font-family: 'iconfont';
    font-size: 130%;
    float: right;
}

.link {
    width: 100%;
    display: inline-block;
}

.link img {
    width: 100%;
}

@keyframes promo-appear-animation {
    0% {
        transform: scale(2.0);
        opacity: 0;
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: relative;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}


/* Modal Content */

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #090909;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #1d1d1d;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/* Add Animation */

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}