
* { box-sizing: border-box; }
body {
  padding: 1rem;
  background: #333;
}

section {
  background: white;
  padding: 1rem;
  overflow: hidden;
}


h2 {
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.25rem 0;
  border-bottom: 2px solid #333;
}

.module {
  margin: 0 0 1rem 0;
}
.module-movie {
  float: left;
  width: 32%;
  margin-right: 2%;
  height: 391px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.module-movie:nth-of-type(3n) {
  margin-right: 0;
}
.module-movie::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 20%, black);
  z-index: 1;
}
.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  color: white;
  z-index: 2;
}
.movie-title {
  margin: 0 0 0.5rem 0;
}
.movie-title::before {
  content: "Title";
  display: block;
  font-size: 0.5rem;
  text-transform: uppercase;
  color: #999;
}
.movie-director::before {
  content: "Director";
  display: block;
  font-size: 0.5rem;
  text-transform: uppercase;
  color: #999;
}
.movie-director {
  margin: 0;
}
