body,
html {
    height: 100%;
    background-image: url("");
    background-color: rgb(252, 245, 245);
}
video {
    box-shadow: 10px 10px 5px black;
}
.banner {
    border-radius: 25px;
}

#header1 {
    margin-left: 5px;
    margin-top: 190px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
}
#header0 {
  
    width: 100%;
    margin-top: -190px;
    margin-left: 0px;
    background-color: #181818;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 200;
}


th,
td {
    padding: 15px;
}

select {
    padding: 2px 15px;
    background-color: rgb(181, 222, 255);
    font-weight: 600;
}

select option {
    font-size: 11px;
}


.button {
    width:250px;
    z-index: 100;
}

.center {
    width: 70%;
    min-width: 615px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    #controls {
        flex-direction: row;
    }





iframe {
    z-index: 201;
  
    overflow: hidden;
    margin-left: 20%;

}


}